.addtask__container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fafafa;
    z-index: 2;
    animation: slide-up 0.3s ease;
}

input[type='text']{
    width: 90%;
    margin: 0 5%;
    height: 70px;
    /* box-shadow: var(--shadow); */
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 500;
    outline: none;
    background: transparent;
}

input[type='text']::placeholder{
    color: #ccc;
}

.closeBtn{
    cursor: pointer;
    font-size: 35px;
    padding-left: 10px;
    padding-top: 15px;
    margin-left: 5%;
}

@keyframes slide-up{
    0%{
        top: 150px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}